* {
    font-family: 'Grechen Fuemen', cursive;
}

#title {
    font-size: 50px;
    text-align: center;
}

#winner-display{
    padding-top: 50px;
    text-align: center;
}
#container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#container h1 {
    text-align: center;
}

#p1-box {
    text-align: center;
}

#p2-box {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

.game-square {
    background-color: lightgray;
    border: 2px solid black;
    height: 160px;
    place-items: center;
}

#top-left, #top-mid, #top-right{
    border-top: none;
}

#top-left{
    border-left: none;
}

#top-mid{
    border-top: none;
}

#top-right{
    border-right: none;
}

#top-left{
    border-left: none;
}

#mid-right {
    border-right: none;
}

#mid-left {
    border-left: none;
}

#bot-left, #bot-mid, #bot-right {
    border-bottom: none;
}

#bot-left{
    border-left: none;
}

#bot-right {
    border-right: none;
}