* {
    font-family: 'Grechen Fuemen', cursive;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(77,171,221,1) 74%, rgba(69,131,252,1) 93%); 
}

#title {
    font-size: 40px;
    text-align: center;
}

#winner-display{
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

#title, #winner-display, .p {
    color: #fff;
}
#container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#container h1 {
    text-align: center;
}

#p1-box {
    text-align: center;
}

#p2-box {
    text-align: center;
}

#p1-box, #p2-box, .p {
    font-size: 20px;
}

#buttons{
    margin-top: 15px;
    text-align: center;
}

  .buttons {
    display: inline-block;
    /* padding: 0.35em 1.2em; */
    padding: 12px;
    background-color: #c8cde6;
    border: 0.1em solid #fff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-align: center;
    transition: all 0.2s;

}

  .buttons:hover {
     color:#000000;
     background-color:#FFFFFF;
  }

#next-round {
    margin-right: 50px;
}

#reset-game {
    margin-left: 50px;
}

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

.game-square {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* backface-visbility: hidden; */
    -moz-osx-font-smoothing: grayscale;
    transition-property: transform;
    background-color: #fff;
    border: 2px solid black;
    height: 150px;
    place-items: center;
}

.game-square:hover, .game-square:focus, .game-square:active {
    transform: scale(1.03);
}

#top-left, #top-mid, #top-right{
    border-top: none;
}

#top-left{
    border-left: none;
}

#top-mid{
    border-top: none;
}

#top-right{
    border-right: none;
}

#top-left{
    border-left: none;
}

#mid-right {
    border-right: none;
}

#mid-left {
    border-left: none;
}

#bot-left, #bot-mid, #bot-right {
    border-bottom: none;
}

#bot-left{
    border-left: none;
}

#bot-right {
    border-right: none;
}